@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"); */

body {
  font-family: "Montserrat", sans-serif;
}
/* Custom dark scrollbar */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #1e293b; /* dark blue background of container */
  border-radius: 6px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #0f172a; /* slightly darker thumb */
  border-radius: 6px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #0c131f;
}